main {
    padding: 60px 30px;
    background-color: darkgray;
    height: 100vh;
    background-image: url(/src/assets/React.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    margin-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}